body {
    background-image: url("/assets/images/Untitled.png");
    font-family: 'Pontano Sans', sans-serif;  
    /*font-weight:bold;*/
    font-size:18px;
    color:white;
}


img {

    margin: auto;
    display:block;

}

.form-group {
    margin: auto;
    display:block;  
    width:188px;
  
}



button#submit {
    margin: auto;
    display:block;
    margin-top:10px;
     background-color:#81afd3;
     color:white;
     border-radius:4px;
     border:0px;
   
    

}

li{
    position:relative;
    padding-bottom:20px;
}
#burBut{
    position:absolute;
    right:40px;
    top:0px;
      background-color:#81afd3;
     color:white;
     border-radius:4px;
     border:0px;
   

 
}

.row {
    padding-top:50px;
}

h3,h1 {
    text-align: center;
     
}
h1 {
    font-family: 'Poiret One', cursive;
    font-size: 60px;
       color:white;
}
h3{
    color:#e1e4aa;
}






